class GrimoireCli < Formula
  desc "Command-line interface for Grimoire, a self-hosted TTRPG library manager"
  homepage "https://github.com/thomaslazar/grimoire-cli"
  version "@@VERSION@@"
  license "MIT"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/thomaslazar/grimoire-cli/releases/download/v@@VERSION@@/grimoire-cli-osx-arm64"
      sha256 "@@SHA256_OSX_ARM64@@"
    else
      url "https://github.com/thomaslazar/grimoire-cli/releases/download/v@@VERSION@@/grimoire-cli-osx-x64"
      sha256 "@@SHA256_OSX_X64@@"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/thomaslazar/grimoire-cli/releases/download/v@@VERSION@@/grimoire-cli-linux-arm64"
      sha256 "@@SHA256_LINUX_ARM64@@"
    else
      url "https://github.com/thomaslazar/grimoire-cli/releases/download/v@@VERSION@@/grimoire-cli-linux-x64"
      sha256 "@@SHA256_LINUX_X64@@"
    end
  end

  def install
    binary_name = stable.url.split("/").last
    bin.install binary_name => "grimoire-cli"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/grimoire-cli --version")
  end
end
